<h1>Stupid Coaching</h1>
<!-- <p>Find me in app/views/questions/answer.html.erb</p> -->
<p> Question:
  <%= @question %>
</p>
<p>Answer:
  <%= @answer %>
</p>

<%= link_to "Ask another question", ask_path %>
